<h1> Productos en tiempo Real </h1>
<li>
    {{#each products}}
        <h2>{{this.title}}</h2>
        <ul>{{this.title}}</ul>
        <ul>{{this.description}}</ul>
        <ul>{{this.price}}</ul>
        <ul>{{this.category}}</ul>
    {{/each}}
</li>